body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: #f56573;
}
.blurb p {
    color:#cc7979;
    line-height: 2;
}
.content {
    margin-top: 100px ;
}

#mainNavbar {
    font-weight: 300;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color:#f56573;
}

#mainNavbar .navbar-brand {
    color: #f56573;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #cc7979;
}

@media (max-width: 1200px) {
    #headGroup h2 {
        font-size: 2rem;
    }
}